/*root colors from figma design for buttons and background.*/
:root {
    --redBtnColor: #E3170A;
    --blueBtnColor: #8ACFE5;
    --backgroundColor: #011827;
    --HoverColor: #36769D;
}

body {
    margin: 0px;
    font-family: "Roboto";
    /*font from figma design*/

}

.navBarItems {
    display: flex;
    /*telling contants to stay horizontal*/
    justify-content: center;
    /*stay in center*/
    margin: 0px;
    /*no marign, margin: none; dont work for me*/
    list-style-type: none;
    color: white;
    /*any main color in ul should be white*/
    justify-content: space-evenly;
    /*space evently between contens*/
}

.navLi {
    float: left;
    padding: 30px;
    border-radius: 10px;
}

.navLi:hover {
    color: var(--HoverColor);
    /*using universal color navigatin hover*/
    user-select: none;
    cursor: pointer;
}

.headSection {
    background-color: var(--backgroundColor);
}

#reqtangel {
    display: flex;
    padding: 0px 0px 5px 5px;
    background-color: var(--backgroundColor);
    align-items: end;
    /*telling contents to stay att the end of layout*/
    border: 5px solid white;
    /*tellin the regtangel to have a border*/
    border-radius: 15px;
    width: 113px;
    height: 67px;
}

.esc {
    background-color: rgb(251, 251, 251);
    padding: 8px;
    border-radius: 8px;
    margin: 0px;
}

#logo-title {
    display: flex;
    align-items: end;
    padding: 26px 0px 30px 27px;
}

/*Hamburger menue*/
.menuIconHolder {
    display: none;
}


#title {
    margin: 0px;
    color: white;
    font-weight: 100;
    font-weight: bold;
    font-size: 3vw;
    padding: 0px 0px 0px 5px;
}

.headImg {
    max-height: none;
    width: 100%;
    /*telling the headImg not overflow from parents*/
    max-height: 468px;
    object-fit: cover;
    /*stay inside layout*/
    position: relative;
    /*will use to offset property*/
}

.btnsHolder {
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateY(-50%);
    /*move the btnHolder vertically*/
}

.onlineBtn {
    padding: 17px;
    background-color: var(--redBtnColor);
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    max-width: fit-content;
    justify-self: right;
    /*telling the onlineBtn to move its seft horizontally to right*/
}

.onsiteBtn {
    padding: 17px;
    background-color: var(--blueBtnColor);
    color: rgb(0, 0, 0);
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    /*take distance by 10px but only leftside*/
}

.onsiteBtn:hover {
    background-color: rgb(56, 113, 144);
    color: rgb(4, 251, 251);
}

.onlineBtn:hover {
    background-color: rgb(107, 61, 61);
    color: rgb(255, 0, 0);
}

.commentBox {
    display: flex;
    padding: 50px 20px 50px 20px;
    /*padding for all sides*/
}

.commentCard {
    display: flex;
    object-fit: cover;
}

.commenterImg {
    max-width: 75px;
    /*width shoult not go more than 75px*/
    max-height: 75px;
    object-fit: contain;
    border-radius: 50%;
    padding: 20px;
}

#popularRightNowTitle {
    display: flex;
    justify-content: center;
    font-size: clamp(16px, 1vw + 1rem, 32px);
    margin: 100px 0px 50px 0px;
}

/*style for the slider section*/
.sliderSection {
    display: grid;
    /*telling contents to stay vertically*/
    grid-template-columns: 1fr 1fr 1fr;
    /*grid should have 3 columns all the same size*/
    overflow-x: auto;
    /*if overflow, use scroll*/


}

.sliderImg {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px 15px 0px 0px;
}

.card {
    display: grid;
    margin: 20px;
    border-radius: 15px;
    min-width: fit-content;
    scroll-snap-type: x mandatory;
    /*snappy feeling when scrolling*/
    box-shadow: 0px 10px 10px 0px black;
}

.textAndBtn {
    display: grid;
    padding: 0px 15px 15px 15px;
}

.starsAndParticipant {
    display: flex;
    justify-content: space-between;
}

.fa-solid {
    color: var(--redBtnColor);
}

.fa-regular {
    color: var(--redBtnColor);
}

.starsAndParticipant p {
    margin: 0px;
}

/*style for the buttons inside the sliders card*/
.cardBtn {
    background-color: var(--redBtnColor);
    /* calling for the root color*/
    max-width: fit-content;
    /*telling the button to not be bigger than the content size*/
    border: none;
    /* dont want any border aroun the button*/
    justify-self: end;
    /* telling the button to move all the way to the right side of the parent element which is card.*/
    cursor: pointer;
    /*on hover cursor mouse will change form to pointer*/
}

.cardBtn:hover {
    background-color: aquamarine;
    color: black;
}

.gridBtn {
    background-color: var(--redBtnColor);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.gridBtn:hover {
    background-color: rgb(121, 74, 74);
    color: rgb(0, 28, 239);
}

.btns {
    display: flex;
    justify-content: center;
    padding: 150px 20px 150px 20px;
}

.story {
    display: grid;
    background-color: #011827;
    height: 500px;
    width: 100%;
    align-content: center;
}

.story>div {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.story>div button {
    background-color: #011827;
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: large;
    font-weight: bold;
    border-color: white;
}

.story>div p {
    color: white;
    font-size: 2vw;
}




.gridItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.imgCard {
    max-width: 100%;
}

.infoCard {
    display: grid;
    align-content: space-evenly;
    padding: 10px 100px 10px 100px;
}

.infoCard.div,
button {
    padding: 15px;
    border-color: white;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.foter {
    display: grid;
    height: 460px;
    background-color: #011827;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
    padding-bottom: 50px;
}
#closeMenuBtn{
    display: none;
}
/*This blocks of codes should be run when the display is <= 768px*/
@media(max-width: 768px) {
    #reqtangel{
        height: fit-content;
       padding: 30px 0px 5px 5px;

    }
    .esc{
        padding: 7px;
    }
    /*Hamburger menue*/
    .menuIconHolder {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;

        right: 25px;
        top: 30px;
    }

    .menuIcon{
        display: grid;
        gap: 5px;
        max-width: fit-content;
    }

    .menuIconHolder span {
        background-color: white;
        height: 6px;
        width: 51px;
        border-radius: 10px;
    }



    .sliderSection {
        display: flex;
        /*telling the sliderSection layout to be change from grid to flex*/
        overflow-x: auto;
        /*when contant is overflowing should be scrollable*/
        scroll-snap-type: x mandatory;
        scroll-snap-align: center;
        /*alig in content in center when scrolling is finished*/
    }

    .card {
        scroll-snap-align: center;
        /*telling the each colum inside the sliderSection to be centered once scroll is finished*/
    }

    .btns {
        display: grid;
    }

    #title {
        max-width: 100px;
        font-size: 2.7vh;
        margin: 0px;
    }

    .btnsHolder {
        display: grid;
        padding-top: 30px;
        justify-content: center;
        transform: translateY(0px);
    }

    .onlineBtn {
        margin: 0px 0px 5px 0px;
        background: none;
        text-decoration: underline;
        margin-right: 10px;
        margin-top: 10px;
        color: var(--blueBtnColor)
    }

    .onsiteBtn {
        background-color: var(--blueBtnColor);
        margin: 5px 0px 0px 0px;
        border: none;
        color: black;
        order: -1;
    }

    .onsiteBtn:hover {
        background: blue;
    }

    .onlineBtn:hover {
        background-color: white;
        color: none;
    }

    .imgCard {
        order: -1;
    }

    .infoCard {
        padding: 10px 10px 30px 10px;
    }

    .commentCard:nth-child(1) {
        display: none;
    }

    .commentBox {
        display: grid;
        justify-content: center;
        padding: 50px 10px 0px 0px;
    }

    .commentText {
        font-size: small;
    }

    .navBar{
        display: flex;
        position: absolute;
        z-index: 2;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.488);
    }

    .navBar{
        display: none;
    }
    .navBar.active{
        display: block;
    }
    .navBarItems {
        display: grid;
        background-color: var(--backgroundColor);
        width: 90%;
        height: 100vh;
        margin: 20px;
        padding: 0px;
        align-content: center;
        animation: fadeIn 0.3s ease-in-out;
        /* box-shadow: 0px 0px 30px 20px white; */
    }
    .navLi {
        font-size: x-large;
        font-weight: bold;
        /* background-color:black; */
        color: white;
        max-height: fit-content;
        max-width: fit-content;
        place-self: center;
    }
    #closeMenuBtn{
        display: block;
        /* right: 5%; */
    }
    .fa-xmark{
        position: absolute;
        padding: 20px;
        justify-self: end;
        color: white;
        border: none;
        background: none;
    }
}


@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: scale(0.97);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}